<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mailSuite">

    <test name="SignInPage" parallel="none" preserve-order="true">
        <classes>
            <class name="com.AoI.Test.LogInPageTest"/>
        </classes>
    </test>

    <test name="ComposeMailPage" parallel="none" preserve-order="true">
        <classes>
            <class name="com.AoI.Test.composeMailPageTest"/>
        </classes>
    </test>

</suite>
